.mainWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px auto;
}

.inputTabWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  column-gap: 5px;
}

.sizeInput {
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--game-grid-size), 30px);
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  background-color: white;
}

.alive {
  background-color: black;
}
